@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset font-size for easier rem unit calculation */

body {
    font-size: 10px;
    background-color: white;
    font-family: Bangers, sans-serif;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1rem;
}

#active {
    color: #786C44;
}

.active-page {
    color: #786C44;
}

#navbar {
    position: relative;
    padding: 1rem;
}

#toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Checkbox tutorial */
#nav_checkbox {
    display: none;
    /* hides checkbox */
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.nav-menu li {
    list-style: none;
    display: none;
    /* Used to hide menu when checkbox is not checked */
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.nav-menu a:hover {
    color: #786C44;
}

#navbar a:hover {
    color: #786C44;
}

/* End of tutorial code */

#logo {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.nav-link:hover {
    border-bottom: 1rem solid var(--black);
}

#nav_checkbox:checked~ul.nav-menu li {
    display: block;
    /*makes list items appear when checkbox is checked */
}

.hero {
    height: 100vh;
    background-image: url(../images/compressed-images/hero-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Footer */
/* socials footer */

.footer a:hover {
    color: #786C44;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    list-style-type: none;
}

.ft-social-list li a {
    color: inherit;
}

.ft-legal {
    display: flex;
    justify-content: flex-end;
    margin: 0.125rem 0.625rem;
}

.ft-legal h5 {
    font-size: 1rem;
}

/* utilities */

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 4rem;
}

.btn1 {
    display: inline-block;
    font-family: Bangers;
    font-size: 1.2rem;
    padding: 10px 30px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px;
    transition: 500ms ease all;
    outline: 2px solid black;
    margin-top: 2rem;

}

.btn-outline {
    background-color: white;
    border: none;
}

.btn1:hover {
    background-color: #83ebdd;
    transform: scale(0.98);
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* gallery page */

.image-grid {
    --gap: 16px;
    --num-cols: 2;
    --row-height: 200px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* About Page */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem 20rem;
    min-height: calc(100vh - 16.4rem);
    box-sizing: border-box;
}

.about p {
    font-family: Roboto;
    font-size: 1rem;
    color: black;
    padding-bottom: 1.6rem;
}

.about h1 {
    font-size: 2rem;
}

.about img {
    width: 20rem;
}

.about .image-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 20rem;
    overflow: hidden;
}

.about-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 1rem 1rem;
}

.about-second-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem 1rem 2rem;
}

.about-craig {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about-text {
    width: 30rem;
    background-color: white;
    text-align: center;
}

.about-text h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about-text p {
    font-size: 1.25rem;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align: center;
}

.about-text a {
    text-decoration: none;
    font-family: bangers;
    color: #786C44;
}

.contact-dog img {
    width: 20%;
    height: 20%;
    align-items: center;
    transition: 500ms ease all;
}

iframe{
    border-width: 2rem;
    border-color: #dbcd9c;
}

/* Learn Page */

.learn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem 4rem 6rem 4rem;
}

.learn-wrap ul {
    font-size: 1.2rem;
    font-weight: 300;
    list-style-type: none;     
}

.steps-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    text-align: center;
}

.steps-list li {
    padding: 0.5rem ;

}

.steps-list a {
        text-decoration: none;
        font-family: bangers;
        color: #786C44;
    }

.learn-text  a {
    text-decoration: none;
    font-family: bangers;
    color: #786C44;
}
 

.learn-text h1 {
    font-family: Bangers;
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.learn-text p {
    font-size: 1.25rem;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align: center;
}

/* Code inspired by web post https://codepen.io/rrenula/pen/nJmQed */

.wrapper-steps {
	width: 40%;
	margin: 40px auto;
    overflow: hidden;
}

div.gallery-steps {
	margin-top: 2rem;
}

div.gallery-steps ul {
	list-style-type: decimal;
    font-size: 1rem;
	margin-left: 0px;
    padding: 1rem;
}

/* steps animation */

div.gallery-steps ul li, div.gallery-steps li img {
	-webkit-transition: all 0.1s ease-in-out;
  	-moz-transition: all 0.1s ease-in-out;
  	-o-transition: all 0.1s ease-in-out;
  	transition: all 0.1s ease-in-out;
}

div.gallery-steps ul li {
	position: relative;
	float: left;
	width: 130px;
	height: 130px;
	margin: 10px;
	padding: 5px;
	z-index: 0;
}

/* Makes sure the z-index is higher on hover */
/* Ensures the hover image overlaps the others */
div.gallery-steps ul li:hover {
	z-index: 5;
}
/* Image is positioned nicely under li */
div.gallery-steps ul li img {
	position: absolute;
	left: 0;
	top: 0;
	border: 1px solid black;
	padding: 5px;
	width: 130px;
	height: 130px;
	background:white;
}

div.gallery-steps ul li img:hover {
	width: 200px;
	height: 200px;
	margin-top: -130px;
	margin-left: -130px;
	top: 65%;
	left: 65%;
}

/* End of web post code idea */

.watch-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 4rem;
}

.container-steps {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.container-learn {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; 
    justify-content: center; 
    align-items: center; 
    gap: 2rem;
    text-align: left;
    padding: 2rem 2rem 6rem 2rem;
    
}

.vid-1 {
    margin-left: auto;
    margin-right: auto;
    
}

.vid-2 {
    margin-left: auto;
    margin-right: auto;
}

.vid-3 {
    margin-left: auto;
    margin-right: auto;
}

.dog-names {
    margin-top: 0.5rem;
}

.dog-vid-text {
    text-align: left;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
}

/* Contact Page */

.contact-dog {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
}

.contact-dog img {
    width: 70%;
    height: 70%;
    align-items: center;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 2rem 2rem;
}

.contact-top {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    outline: 0.5rem solid black;
}

.contact-form {
    padding: 10% 10% 10%;
    display: flex;
    flex-direction: column;
}

.contact-form h1 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5%;
}

.contact-form p {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    margin-top: 20px;
}

.input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

textarea {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d1ccbd;
    transition: 500ms ease all;
}

input {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d1ccbd;
    transition: 500ms ease all;
}

input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #786C44;
    border-color: #786C44;
}

textarea:focus {
    outline: none;
    box-shadow: 0 1px 0 0 black;
    border-color: black;

}

.contact-details {
    background-color: black;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
}

.cell-1 {
    background: black;
    color: white;
    text-align: center;
    margin: auto;
}

.cell-1 h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cell-1 ul {
    text-decoration: none;
    list-style-type: none;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    margin-bottom: 2rem;
}

#email-icon {
    font-size: 4rem;
    color: #786C44;
}

.cell-2 {
    object-fit: cover;
}

/* Media Queries*/

/* For smaller screen sizes, from 500px upwards */

@media only screen and (min-width:500px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 300px;
    }

    .wrapper-steps {
		width: 500px;
        height: 500px;
	}

    div.gallery-steps ul {
        margin-left: 20px;
        padding: 0%;
    }

}

/* For medium screen sizes, from 768px upwards */

@media only screen and (min-width:768px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
        margin-right: 1rem;
    }

    .image-grid {
        --num-cols: 3;
        --row-height: 300px;
    }

    .contact-dog img {
        width: 50%;
        height: 50%;
        align-items: center;
    }

    .grid-3 {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* For large screens sizes from 1024px upwards */

@media only screen and (min-width:1024px) {
    .image-grid {
        --num-cols: 4;
        --row-height: 300px;
    }

    .container-learn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: none;
        gap: 2rem;
        padding: 2rem 2rem 6rem 2rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;      
    }

    .dog-vid-text {
        text-align: center;
    }    
}

/* For large screens sizes from 1200px upwards */  

@media only screen and (min-width: 1200px) {
    .image-grid {
        --num-cols: 5;
        --row-height: 300px;
    }

    .contact-wrap {
        flex-direction: row; 
        padding: 4rem 4rem 6rem 4rem;
    }
    
}
