@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Roboto:wght@100&display=swap');


/*html {
    font-size: 16px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

: root {
    --black: #000000;
    --offwhite: #f1f0f3;
    --white: #ffff;
    --gold: #786C44;
    --blue: #83ebdd;
}

/* Reset font-size for easier rem unit calculation */

body {
    font-size: 10px;
    background-color: var(--offwhite);
    font-family: Bangers, sans-serif;
}

/* img {
    width: 100%;
}*/

#navbar {
    position: relative;
    padding: 1rem;
}

#toggle {
    position: absolute;
    right: 1rem;
    top: 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}

/* Checkbox tutorial */
#nav_checkbox {
    display: none;
    /* hides checkbox */
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}

.nav-menu li {
    list-style: none;
    display: none;
    /* Used to hide menu when checkbox is not checked */
    padding: 0.5rem 0;
    font-size: 1.2rem;
}

.nav-menu a:hover {
    color: #786C44;
}

#navbar a:hover {
    color: #786C44;
}

/* End of tutorial code */

#logo {
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.nav-link:hover {
    border-bottom: 1rem solid var(--black);
}

#nav_checkbox:checked~ul.nav-menu li {
    display: block;
    /*makes list items appear when checkbox is checked */
}

.hero {
    height: 100vh;
    background-image: url(../images/Hero_Image_1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Footer */

/* socials footer */

.footer-landing {
    background-color: red;
}

.footer a:hover {
    color: #786C44;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;

}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    list-style-type: none;

}

.ft-social-list li a {
    color: inherit;
}

.ft-legal {
    display: flex;
    justify-content: flex-end;
    margin: 0.125rem 0.625rem;
}

.ft-legal h5 {
    font-size: 1rem;
}

/* utilities*/

.container {
    max-width: 1600px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 4rem;
}

.card {
    background-color: white;
    color: black;
    /* border-radius: 10px;*/
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 20px;
    outline: 2px solid black;
}

.contact-form-card {
    background-color: white;
    color: black;
    /* border-radius: 10px;*/
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 40px;
    margin: 20px;

}

.btn1 {
    display: inline-block;
    font-family: Bangers;
    padding: 10px 30px;
    cursor: pointer;
    color: black;
    background-color: white;
    border: 1px;
    transition: 500ms ease all;
    outline: 2px solid black;
    margin-top: 2rem;

}

.btn-outline {
    background-color: white;
    border: none;
}

.btn1:hover {
    background-color: #83ebdd;
    transform: scale(0.98);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    height: 100%;

}



/* gallery page */

.image-grid {
    --gap: 16px;
    --num-cols: 2;
    --row-height: 200px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* About Page */

/*from daves code */

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 2rem 20rem;
    min-height: calc(100vh - 16.4rem);
    box-sizing: border-box;
    /* background-color: rgba(131,235,221,0.2); */
}

.about p {
    font-family: Roboto;
    font-size: 1rem;
    color: var(--black);
    padding-bottom: 1.6rem;
}

.about h1 {
    font-size: 2rem;
}

.about img {
    width: 20rem;
}

.about .image-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 20rem;
    overflow: hidden;
}

.craig-website {
    text-decoration: none;
    color: #000000;
}



.header-about {
    background-color: white;
}

/* .background-about {
    /*height: 100vh; 
    background-image: url(../images/background-about-image-6.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
} */

.about-wrap {
    /* same as contact-wrap */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    /* background-color: #f2f2f2; */
    padding: 1rem 1rem 1rem;
}

.about-second-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row-reverse;
    align-items: center;
    padding: 1rem 1rem 2rem;

}

.about-craig {
    display: flex;
    /* width: 40%;
    height: 40%; */
    justify-content: center;
    overflow: hidden;
}

.about-text {
    width: 30rem;
    background-color: white;
}

.about-text h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.about-text p {
    font-size: 1.25rem;
    font-family: Roboto, sans-serif;
    text-align: center;
}

/* .contact-dog {
    display: flex;
    width: 40%;
    height: 40%;
    justify-content: center;
}*/

.contact-dog img {
    width: 20%;
    height: 20%;
    align-items: center;
    transition: 500ms ease all;
}


*/
/* Craig*/

.craig {
    height: 100%;
    /*background-color: #786C44; */
    position: relative;
    font-weight: 50px;

}

.craig h1 {
    font-size: 2rem;
}

.craig p {
    margin: 2rem;
    font-family: roboto;
    font-size: 1rem;
}

.craig .grid {
    grid-template-columns: 55% 45%;
    gap: 3rem;
}

.craig-image {
    padding: 5px;
    margin-top: 40px;

}

.wall-of-prints {
    margin-bottom: 40px;
}

/* Learn Page */

.video-grid {
    --gap: 16px;
    --num-cols: 3;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);

}

.video-grid>iframe {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Contact Page */

.contact-dog {
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
}

.contact-dog img {
    width: 70%;
    height: 70%;
    align-items: center;
}

.contact-wrap {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-around;
    align-items: center;
    /* background-color: #f2f2f2; */
    padding: 2rem 2rem 2rem;
}

.contact-top {
    /* width: 50rem;*/
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    background-color: white;
    outline: 0.5rem solid black;
}

.contact-form {
    padding: 10% 10% 10%;
    display: flex;
    flex-direction: column;
}

.contact-form h1 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5%;
}

.contact-form p {
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

form {
    margin-top: 20px;
}

.input-wrap {
    display: flex;
    align-items: center;
    margin-bottom: 2%;
}

textarea {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d1ccbd;
    transition: 500ms ease all;
}

input {
    font-size: 14px;
    font-weight: 500;
    padding: 4px 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid #d1ccbd;
    transition: 500ms ease all;

}

input:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #786C44;
    border-color: #786C44;
}

textarea:focus {
    outline: none;
    box-shadow: 0 1px 0 0 black;
    border-color: black;

}

.contact-details {
    background-color: black;
}

.grid3 {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-gap: 1rem;
}

.cell-1 {
    background: black;
    color: white;
    text-align: center;
    margin: auto;
}

.cell-1 h2 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cell-1 ul {
    text-decoration: none;
    list-style-type: none;
    font-family: Roboto, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.cell-1 ul li h3 {
    font-size: 1.4rem
}

#email-icon {
    font-size: 4rem;
    color: #786C44;
}

.cell-2 {
    object-fit: cover;
}

/* Media Queries New */



@media only screen and (min-width:500px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 300px;
    }
}

@media only screen and (min-width:768px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
        margin-right: 1rem;
    }
    
    .image-grid {
        --num-cols: 3;
        --row-height: 300px;
    }

    .contact-dog img {
        width: 50%;
        height: 50%;
        align-items: center;
    }
}

@media only screen and (min-width:1024px) {
    .image-grid {
        --num-cols: 4;
        --row-height: 300px;
    }
}

@media only screen and (min-width: 1200px) {
    .image-grid {
        --num-cols: 5;
        --row-height: 300px;
    }

    .contact-wrap {
        flex-direction: row; 
        padding: 2rem 2rem 4rem;
    }

    .grid3 {
        grid-template-columns: repeat(2, 1fr);
    }

    
}





/* Media Queries old

 @media only screen and (min-width:0px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }

    .about-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


    .about-second-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .contact-top {
        width: 300px;
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .contact-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .contact-dog {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
    }


    .video-grid {
        --num-cols: 1;
        --row-height: 200px;
    }


} 

@media only screen and (max-width:500px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 300px;
    }

    .grid3 {
        grid-template-columns: 1fr;
        padding: 2rem;
    }
}



@media only screen and (min-width:768px) {
    #navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #toggle {
        display: none;
    }

    .nav-menu {
        flex-direction: row;
    }

    .nav-menu li {
        display: block;
        margin-right: 1rem;
    }

    .image-grid {
        --num-cols: 3;
        --row-height: 300px;
    }


    .video-grid {
        --num-cols: 1;
        --row-height: 200px;

    }

    .video-grid>iframe {
        width: 50%;
        height: 100%;
        object-fit: unset;

    }

    .contact-wrap {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .contact-dog {
        display: flex;
        width: 40%;
        height: 40%;
        justify-content: center;
    }
}

@media only screen and (min-width: 1024px) {
    .image-grid {
        --num-cols: 4;
        --row-height: 300px;
    }

    .video-grid>iframe {
        width: 30%;
        height: 100%;
        object-fit: unset;

    }



}

@media only screen and (min-width: 1440px) {
    .image-grid {
        --num-cols: 5;
        --row-height: 400px;
    }
}


*/